body {
	/* color: #c3c3c3 !important; */
	color: black;
	text-align: left !important;
	line-spacing:1.8 !important; 
	margin-top:4px !important;
	margin-bottom:4px !important;
	margin-right:20px !important;
	margin-left:20px !important;
    text-indent:3em !important;
	/* background-color:#484848 !important; */
	background-color: white;
	word-wrap: inherit;
}

h1,h2,h3,h4,h5,h6{
	/* background-color: #484848; */
	background-color: white;
    color:burlywood !important;
    text-align: center !important;
    font-style: italic !important;
	font-weight: bold !important;
}

a:link, span a:link, a[href] {
	color: #02a7ff !important;
}
a:visited {	
	color: #935bb2 !important;
}
a:hover {	
	color: #2ae0ed !important;
}
a:active {	
	color: #e01f1f !important;
}